<h1>Movies <a href="/movies/new">(+)</a></h1>

<ul>
    <% @movies.each do |movie| %>
    <li>
        <a href="/movies/<%= movie.id %>"><%= movie.title %></a>
        <a href="/movies/<%= movie.id%>/edit">(Edit)</a>
        <%= link_to "(Delete)", movie_path(movie), method: :delete %>
    </li>
    <%end%>
</ul>